
<footer class="myFooter w-100 fadeIn">
    <div style="margin-top:30px; margin-bottom:30px;" class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="footer_div">
            <h4 class="top-footer">Information</h4>
            <hr class="hr-footer">
            <div>
              <p class="link-footer"><a href="" routerLink="about">About Us</a></p>
              <p class="link-footer"><a href="" routerLink="terms">Terms and Condition</a></p>
              <p class="link-footer"><a href="" routerLink="activation">Activation Guides</a></p>
              <p class="link-footer"><a href="" routerLink="frequent">Frequently Asked Questions</a></p>
              <p class="link-footer"><a href="" routerLink="contact">Contact Us</a></p>
            </div>
            
          </div> 
        </div>

        <div class="col-lg-3"> 
          <div class="footer_div">
            <h4 class="top-footer">Policies</h4>
            <hr class="hr-footer">
            <div>
              <p class="link-footer"><a href="" routerLink="privacy">Privicy Policy</a></p>
              <p class="link-footer"><a href="" routerLink="refund">Refund Policy</a></p>
              <p class="link-footer"><a href="" routerLink="pricing">Pricing & Payments</a></p>
              <p class="link-footer"><a href="" routerLink="dmca">DMCA</a></p>
            </div>
          </div> 
        </div> 
        <div class="col-lg-3"> 
          <div class="footer_div">
            <h4 class="top-footer">See Our Reviews</h4>
            <hr class="hr-footer">
            <a class="trust" href=""><i class="fab fa-behance"></i> Believepilot</a>
          </div> 
        </div> 
        <div class="col-lg-3"> 
          <div class="footer_div">
            <h4 class="top-footer">Follow Us</h4>
            <hr class="hr-footer">
            <a class="follow" target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a class="follow" target="_blank" href="https://www.instagram.com/accounts/login/"><i class="fab fa-instagram-square"></i></a>
            <a class="follow" target="_blank" href="https://discord.com/login"><i class="fab fa-discord"></i></a> 
          </div> 
        </div> 
        <div class="col-lg-6">
          <div class="footer_div">
            <p class="text-light">All trademarks are the property of their respective owners.<br>Copyright © 2021 GameZone.io. All rights reserved.</p>
          </div> 
        </div>  
        <div class="col-lg-6">
          <div class="footer_div">
            <a class="float-md-end logoShow"><i class="fab fa-gofore"></i></a>
          </div> 
        </div> 
      </div>
    </div>
  </footer>

