

<div *ngIf="val==1" class="container" style="margin-top: 300px; margin-bottom: 200px;">

    <div class="row">

        <div  class="d-flex justify-content-center col-12">

            <div class="spinner-grow cornColor mr-15" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow cornColor mr-15" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow cornColor mr-15" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow cornColor mr-15" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow cornColor" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>  
        </div>

    </div>

</div>



<div *ngIf="val==2"  class="container fadeIn" style="margin-top: 200px; margin-bottom: 100px;">

    <div class="row">
        <div class="col-12">
            <h1 class="mb-4" style="font-weight: 650; color: whitesmoke;">Refund Policy</h1>
            <div class="refund-div mb-3">
                <h5 class="mb-3">Last Updated 23 February 2021</h5>
                <p>Our focus is complete customer satisfaction. In the event, if you are displeased with our products, we will replace / refund back the money, provided the reasons are genuine and proved after investigation. Please read the features/description of each product before buying it, it provides all the details about the product you purchase.</p>
            </div>
            <div class="refund-div mb-3">
                <h3 class="mb-3">Cancellations</h3>
                <p>Cancellation is only possible for orders containing products with standard email delivery.</p>
                <p>Incase you change your mind and you want to cancel your order you can do so before we complete your order / before the delivery of the product key by email.</p>
                <p>To request cancellation of an order, email us at <a href="">support@GameZone.io</a>.</p>
                <p>Once the product key is delivered by email, the order becomes ineligible for cancellation.</p>
            </div>
            <div class="refund-div mb-3">
                <h3 class="mb-3">Replacements</h3>
                <p>In the unlikely event that your product is not working, we will contact the key provider on your behalf. The key provider will carry out an investigation and only if they conclude that the key was actually not working, we will issue a replacement key and the old key will get blacklisted. This process will take a minimum of 7 working days. The decision of the key provider will be final in any such cases.</p>
                <p>To request a replacement, please send an email to <a href="">support@GameZone.io</a>, this will automatically create a ticket and we can investigate your problem asap. To help expedite a solution please attach a screenshot with the error that you are experiencing.</p>
                <p>Replacement requests must be submitted within 48 hours of the delivery of the product key by email.</p>
                <p>If you have initiated a replacement request after 48 hours have passed you will not be eligible for a replacement.</p>
            </div>

            <div class="refund-div ">
                <h3 class="mb-3">Refunds</h3>
                <p>Due to the digital nature of our products. We only offer refund on a discretionary basis.</p>
                <p>No refund will be issued if you’re dissatisfied with the product or if you changed your mind.</p>
                <p>No refund will be issued if you’ve bought the wrong product by mistake.</p>
                <p>No refund will be issued if your device does not meet the minimum product requirements or if you have performance issues.</p>
                <p>No refund will be issued after you have redeemed the product.</p>
                <p>We will only issue a refund under the following circumstances:</p>
                <ul>
                    <li>The product you purchased is out of stock. In this case, your payment will be automatically refunded after 24 hours.</li>
                    <li>You purchased a product with standard email delivery and you request cancellation before we complete your order.</li>
                    <li>Your product key is not working and we are unable to issue a replacement within 14 days of your replacement request.</li>
                    <li>Sometimes, we need your assistance in verifying payment information. If you refuse or do not respond to our request within 5 days, your order will be cancelled and a refund will be issued.</li>
                    <li>If your payment is less than the price listed on our website, you will be given an opportunity to accomplish a full payment. If you refuse or do not respond to our request within 5 days, your order will be cancelled and a refund will be issued.</li>
                </ul>
                <p>Please note: Mode of refund may vary depending on circumstances. If the mode of refund is by Credit/Debit Card or Net Banking, please allow 10 to 14 working days for the credit to appear in your account. While we regret any inconvenience caused by this time frame, it is the bank’s policy that delays the refund timing and we have no control over that. If the mode of refund is by e-wallet, credit should be available within 24 hours.</p>
                <p>During peak seasons please allow up to 15-18 business days for your refund to process.</p>
            </div>

        </div>
    </div>
</div>
