

<div *ngIf="val==1" class="container" style="margin-top: 300px; margin-bottom: 200px;">

    <div class="row">

        <div  class="d-flex justify-content-center col-12">

            <div class="spinner-grow cornColor mr-15" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow cornColor mr-15" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow cornColor mr-15" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow cornColor mr-15" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow cornColor" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>  
        </div>

    </div>

</div>


<div *ngIf="val==2" class="container-fluid fadeIn contactDiv">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="row">
                <div class="breadCum-text col-9 col-lg-5 col-sm-8 col-md-6">
                    <h2>About Us</h2>
               </div> 
            </div>  
        </div>
    </div>
</div>

<div *ngIf="val==2" class="container fadeIn" style="margin-bottom:80px;">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-4" style="font-weight:bold; color: whitesmoke;">About</h2>
            <div class="mb-3 about-d">
                <h4 class="mb-3">Who are we?</h4>
                <p>We love video games. We love them so much that we decided to sell them. We’re here to make gaming affordable.</p>
                <p>We are a small independent retailer that aims to provide value for money when it comes to digital games. Platforms like Steam, Origin, Uplay and even Xbox Live have great sales and deals – but only for selected periods of time. Our aim is to offer good deals all year round.</p>
                <p>We launched this website on february 1, 2021. Our goal is to provide any gamer with an opportunity to get acquainted with premium video games at an affordable price!</p>
            </div>
            <div class="mb-3 about-d">
                <h4 class="mb-3">Our History</h4>
                <p>GameZone.io originally started as an Amazon store in 2019 and since then we’ve sold thousands of games to thousands of gamers.</p>
                <p>When you buy a game from us you aren’t funding a massive organization that is based in a tax free country, you’re helping to provide jobs and careers to a small group of individuals.</p>
                <p>We appreciate every customer that chooses to buy from us and we endeavor to deliver the best service possible at the best price possible.</p>
            </div>
            <div class="mb-3 about-d">
                <h4 class="mb-3">Our Product & Service</h4>
                <p>When buying digital games we understand that trust is vital. We only buy stock from verified and authenticated wholesalers.</p>
                <p>When buying from us we guarantee that you will receive the following:</p>
                <ul>
                    <li>A genuine working game key/code</li>
                    <li>Email delivered within a maximum of 24 hours*</li>
                    <li>A region free key/code – unless specifically stated otherwise</li>
                </ul>
                <p>Here is what we do NOT sell:</p>
                <ul>
                    <li>Key/codes that require a VPN to activate and play</li>
                    <li>Unauthorized key/codes that will be revoked at a later date</li>
                    <li>Login information</li>
                    <li>Pre-created accounts with games already activated</li>
                </ul>
                <p>We only sell games that you can activate/redeem to your own accounts. Once the game is activated to your account it will remain there indefinitely.</p>
            </div>
            <div class="mb-4 about-d">
                <h4 class="mb-3">Help & Support</h4>
                <p>We’re online from 12PM to 10PM IST, 7 days a week. Should you ever need help or support with your order we will do our best to find a speedy solution.</p>
                <p>You can also check our <a href=""  routerLink="../frequent">FAQ page</a> to get answers for simple frequently asked questions.</p>
                <p>If you’re still having a problem and need a response from us then simply <a href="" routerLink="../contact">contact us</a>.</p>
            </div>
            <p class="about-p">* 24 hours is subject to stock availability, if we can’t deliver within 24 hours, your payment will be automatically refunded. Please refer to our <a href="" routerLink="../refund">refund policy</a> for more details.</p>
      
        </div>
    </div>
</div>
