
.contactDiv{
    margin-top: 160px;
    margin-bottom: 80px;
    padding: 10px;
    background-image: url("../../assets/infoImg/23.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.breadCum-text{
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 8px cornflowerblue;
    padding: 30px 60px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    margin-top: 130px;
    margin-bottom: 130px;
}

.breadCum-text h2{
    font-weight: 400;
    color: whitesmoke;
}

.hC{
    color: whitesmoke;
}

h5 > a.link-con{
    text-decoration: none;
    color: cornflowerblue;
}
p.p-textI{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
    color: #aaa;  
}
div.map-area{
    width:100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
