

<div *ngIf="val==1" class="conatainer " style="margin-top:300px; margin-bottom: 200px;">

    <div class="row">

        <div  class="d-flex justify-content-center col-12">

            <div class="spinner-grow cornColor mr-15" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow cornColor mr-15" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow cornColor mr-15" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow cornColor mr-15" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow cornColor" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>  
        </div>

    </div>

</div>


<div *ngIf="val==2" class="container fadeIn" style="margin-top: 200px; margin-bottom: 100px;">

    <div class="row">
       
        <div  class="col-12">

            <h1 class="mb-4" style="font-weight: 650; color: whitesmoke;">DMCA</h1>
            <div class="dmca-div">
                <h5 class="mb-3">Last updated february 22, 2021</h5>
                <p>The website doesn’t contain any material protected by copyright. We do not host any files that violate copyright. Any products presented on the website are released under GNU General Public License.</p>
                <p>However, if you are sure that you have found a material protected by copyright, please send us a request via e-mail at legal@GameZone.io.</p>
                <p>In your request, please specify direct download links to the material that you believe is protected by copyright and attach supporting documents.</p>
                <p>We commit ourselves to remove any material that violates copyright within 48 hours after the receipt of the request.</p>
            </div>

        </div>

    </div>

</div>