

span.redirect{
    color: cornflowerblue;
    cursor: pointer;
    font-weight: 600;
}

span.redirect:focus{
    border: none;
    outline: none;
    box-shadow: none;
    margin-left: 3px;
}

button.btn-resetPass{
    padding: 10px 5px 10px 5px;
    border: 1.5px solid whitesmoke;
    color: whitesmoke;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .5s ease-in;
}
button.btn-resetPass > i{
    margin-right: 5px;
    transition: all .5s ease-in;
}
button.btn-resetPass:hover > i{
    transform: rotate(360deg);
    color: cornflowerblue;
}

button.btn-resetPass:hover{
  border: 1.5px solid cornflowerblue;
  color: cornflowerblue;
  box-shadow: 1px 1px 5px cornflowerblue;
}

input.formControl{
    outline: none;
    display: block;
    padding: 8px 15px 8px 15px;
    background-color: transparent;
    color: whitesmoke;
    border: 1.5px solid whitesmoke;
}
input.formControl:focus{
    border: 1.5px solid cornflowerblue;
    box-shadow: 1px 1px 5px cornflowerblue;
}
div.hasError{
    color: crimson;
    font-size: 15px;
}


div.pG{
    background-color: black;
    border: 1.5px solid cornflowerblue;
    box-shadow: 1px 1px 6px cornflowerblue;
 }
 
 div.toast{
    background-color: black;
    padding: 15px;
    border: 1.5px solid cornflowerblue;
    box-shadow: 1px 1px 6px cornflowerblue;
 }
 
 div.toast-body{
     color: whitesmoke;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 
 div.errorToast{
    border: 1.5px solid crimson !important;
    box-shadow: 1px 1px 6px crimson !important;
    position: relative;
 }
 button.closeBtn{
     position: absolute;
     top: 8px !important;
     right: 1px !important;
 }

