

<div *ngIf="val==1" class="conatainer " style="margin-top:300px; margin-bottom: 200px;">

    <div class="row">

        <div  class="d-flex justify-content-center col-12">

            <div class="spinner-grow cornColor mr-15" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow cornColor mr-15" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow cornColor mr-15" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow cornColor mr-15" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow cornColor" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>  
        </div>

    </div>

</div>


<div *ngIf="val==2" class="container fadeIn" style="margin-top: 200px; margin-bottom: 100px;">
    <div class="row">

      <div class="authBlock col-12">

        <h3 class="text-light text-center mb-3 p-2">Reset Password</h3>

        <p class="text-center text-light  p-2 mb-5">Please enter your email address to request a password reset.</p>
  
        <div class="formGroup text-center p-2 mb-5">
            <div class="row">
                <input type="email" (keyup)="inputEmailId();" (input)="emailAddress = $event.target.value" class="formControl mx-auto col-10 col-sm-10 col-lg-5 col-md-6" placeholder="Email Address*" required>
                <div *ngIf="emailErr != ''" class="hasError mt-3 mx-auto col-12 text-center">{{emailErr}}</div>
            </div>
        </div>
  
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup text-center mb-4 ">
            <div class="row">
                <button [disabled]="isDisabledBtn" (click)="onSubmit();" type="button" class="btn btn-resetPass col-6 col-sm-6 col-md-4 col-lg-3">
                    <i class="fas fa-recycle"></i>
                    Reset Password
                </button>
            </div>
        </div>

      </div>
  
      <div class="redirectToLogin text-center text-light col-12">
        <span>Go back to ? <span class="redirect" routerLink="/login">Login.</span></span>
      </div>
  
    </div>

    <div *ngIf="isToastShow" class="position-fixed bottom-0 start-0 p-3" style="z-index: 5;">
        <div class="toast show align-items-center" role="alert" aria-live="assertive" aria-atomic="true" >
            <div class="d-flex">
              <div class="toast-body">
               Pls try to solve input fields error! it's mandotory to process further.
             </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="hideToast();" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <div *ngIf=" authService.resetErr != '' && errorInReset " class="position-fixed top-50 start-50 translate-middle p-4" style="z-index: 5;">
        <div class="toast errorToast show align-items-center" role="alert" aria-live="assertive" aria-atomic="true" >
            <div class="d-flex">
              <div class="toast-body">
                  <h5 class="text-light mb-3">Error</h5>
                  <p class="text-light">{{authService.resetErr}}! pls try again.</p>
              </div>
              <button type="button" class="btn-close btn-close-white closeBtn me-2 m-auto" (click)="hideErrorMsg();" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <div *ngIf="authService.hasReset" class="position-fixed top-50 start-50 translate-middle p-4" style="z-index: 5;">
        <div class="toast position-relative show align-items-center" role="alert" aria-live="assertive" aria-atomic="true" >
            <div class="d-flex">
              <div class="toast-body">
                  <h5 class="text-light mb-3">Success</h5>
                  <p class="text-light">Password reset mail has been sent to your provided email address, pls kindly check your inbox.</p>
              </div>
              <button type="button" class="btn-close btn-close-white closeBtn me-2 m-auto" (click)="hideSuccessMsg();" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <div *ngIf="isDisabledBtn" class="position-fixed top-50 start-50 translate-middle p-3 pG" style="z-index: 5;">
        <div class="d-flex justify-content-center align-items-center" style="width: 180px; height: 150px;">
            <div class="spinner-border text-light" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
    </div>

  </div>
