

<div *ngIf="val==1" class="conatainer" style="margin-top:300px; margin-bottom: 200px;">

  <div class="row">

      <div  class="d-flex justify-content-center col-12">

          <div class="spinner-grow cornColor mr-15" role="status">
              <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow cornColor mr-15" role="status">
              <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow cornColor mr-15" role="status">
              <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow cornColor mr-15" role="status">
              <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow cornColor" role="status">
              <span class="visually-hidden">Loading...</span>
          </div>  
      </div>

  </div>

</div>



<div *ngIf="val==2" class="Container fadeIn styDiv">
    <div class="row">
        <div class="col-12 dreamDiv">
            <div class="row">
                <div class="description col-lg-8 col-sm-10 col-11 col-md-9">
                    <h2 id="gamer" class="mb-3 mt-5">Are You a Gamer?</h2>
                    <p class="style-p mb-3">If yes then you have came at right place. We bring to you the world of games. Here you will get latest games with exciting price!
                      So what are you waiting for lets play games you gamer.</p>    
                    <p class="style-p mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit arcu, scelerisque dignissim massa quis, mattis facilisis erat. Aliquam erat volutpat. Sed efficitur diam.</p>
                    <a href="#" class="btn btn-exp mb-3">Explore</a>
                    <p class="style-p mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit arcu, scelerisque dignissim massa quis, mattis facilisis erat.</p>
                </div> 
            </div>
            
        </div>
    </div>
    
</div>

<div *ngIf="val==2" style="margin-bottom: 150px;" class="container fadeIn ">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">

            <div class="carousel_show  w-100 h-auto">
                <div class="row">
                    <div class="carousel-info col-9 col-sm-9 col-lg-7 col-md-8">
                        <h1 class="info-h mt-lg-5 mb-lg-4 mt-xl-5 mb-xl-4 mt-md-5 mb-md-4 mt-3 mb-1" >Power Your Dreams</h1>
                        <p class="info-p mb-lg-5 mt-lg-4 mb-xl-5 mt-xl-4 mb-md-5 mt-md-4 mb-3 mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit arcu, scelerisque dignissim massa quis, mattis facilisis erat.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">

            <div class="carousel_show2 d-block w-100 h-auto">
                <div class="row">
                    <div class="carousel-info col-9 col-sm-9 col-lg-7 col-md-8">
                        <h1 class="info-h mt-lg-5 mb-lg-4 mt-xl-5 mb-xl-4 mt-md-5 mb-md-4 mt-3 mb-1" >The Power of Gaming</h1>
                        <p class="info-p mb-lg-5 mt-lg-4 mb-xl-5 mt-xl-4 mb-md-5 mt-md-4 mb-3 mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit arcu, scelerisque dignissim massa quis, mattis facilisis erat.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="carousel-item">

            <div class="carousel_show3 d-block w-100 h-auto">
                <div class="row">
                    <div class="carousel-info col-9 col-sm-9 col-lg-7 col-md-8">
                        <h1 class="info-h mt-lg-5 mb-lg-4 mt-xl-5 mb-xl-4 mt-md-5 mb-md-4 mt-3 mb-1" >The Endless Adventure</h1>
                        <p class="info-p mb-lg-5 mt-lg-4 mb-xl-5 mt-xl-4 mb-md-5 mt-md-4 mb-3 mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit arcu, scelerisque dignissim massa quis, mattis facilisis erat.</p>
                    </div>
                </div>
            </div>
          
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
        <span style="background-color: cornflowerblue;" class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
        <span style="background-color: cornflowerblue;" class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

<div *ngIf="val==2" class="container fadeIn" style="margin-bottom:120px;">
    <div class="row">
        <div class="mx-auto col-lg-4 col-10 col-sm-9 col-md-6">
            <div class="companyDiv mb-4">
              <img class="consoleLogo mb-5" src="../../assets/infoImg/company Logo/Playstation.jpg" alt="">
              <button class="btn mb-4 btn-view" routerLink="../play-station">View Games</button>
            </div>
        </div>
        <div class="mx-auto col-lg-4 col-10 col-sm-9 col-md-6">
            <div class="companyDiv mb-4">
              <img class="consoleLogo mb-5" src="../../assets/infoImg/company Logo/xboxLogo.jpg" alt="">
              <button class="btn mb-4 btn-view" routerLink="../xbox">View Games</button>
            </div>
        </div>
        <div class="mx-auto col-lg-4 col-10 col-sm-9 col-md-6">
            <div class="companyDiv mb-4">
              <img class="consoleLogo mb-5" src="../../assets/infoImg/company Logo/pcLogo.jpg" alt="">
              <button class="btn mb-4 btn-view" routerLink="../pc" >View Games</button>
            </div>
          </div>
        <div class="mx-lg-0 mx-xl-0 mx-auto col-lg-4 col-10 col-sm-9 col-md-6">
            <div class="companyDiv mb-4">
              <img class="consoleLogo mb-5" src="../../assets/infoImg/company Logo/nitend.jpg" alt="">
              <button class="btn mb-4 btn-view" routerLink="../nitendo">View Games</button>
            </div>
        </div>

    </div>

</div>


<div *ngIf="val==2" class="container-fluid latest-div bg-pattern bg-fixed fadeIn">
  <div style="margin-bottom:40px; margin-top:30px;" class="container">
    <div class="row">
      <div style="padding: 15px;" class="col-lg-12 mb-3">
        <h2 class="text-left latest">Latest Games For You</h2>
      </div>
      <div style="padding: 15px;" class="col-lg-12">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-ps-tab" data-bs-toggle="tab" data-bs-target="#nav-ps" type="button" role="tab" aria-controls="nav-ps" aria-selected="true">PlayStation</button>
            <button class="nav-link" id="nav-xbox-tab" data-bs-toggle="tab" data-bs-target="#nav-xbox" type="button" role="tab" aria-controls="nav-xbox" aria-selected="false">Xbox</button>
            <button class="nav-link" id="nav-pc-tab" data-bs-toggle="tab" data-bs-target="#nav-pc" type="button" role="tab" aria-controls="nav-pc" aria-selected="false">Pc</button>
            <button class="nav-link" id="nav-nit-tab" data-bs-toggle="tab" data-bs-target="#nav-nit" type="button" role="tab" aria-controls="nav-nit" aria-selected="false">Nitendo</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-ps" role="tabpanel" aria-labelledby="nav-ps-tab">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/ps Games/last.jpg" class="col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/ps-order','11']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>   
                        <p class="price d-none d-md-block">Action, Adventure ( Price : <i class="fas fa-rupee-sign"></i> 2299 )</p>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/ps Games/ghost.webp" class="col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/ps-order','1']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>   
                        <p class="price d-none d-md-block">Action, Adventure ( Price : <i class="fas fa-rupee-sign"></i> 1699 )</p>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/ps Games/spider man.jpg" class="col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/ps-order','14']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Action, Adventure ( Price : <i class="fas fa-rupee-sign"></i> 1899 )</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/ps Games/cyberpunk.jpg" class="col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/ps-order','23']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Fps, Action, Rpg ( Price : <i class="fas fa-rupee-sign"></i> 1999 )</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/ps Games/avenger.png" class=" col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/ps-order','17']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Action, Adventure, Rpg ( Price : <i class="fas fa-rupee-sign"></i> 2099 )</p>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
                <span style="background-color: cornflowerblue;" class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
                <span style="background-color: cornflowerblue;" class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div> 

          </div>

          <div class="tab-pane fade" id="nav-xbox" role="tabpanel" aria-labelledby="nav-xbox-tab">

            <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/xbox games/starSq.jpg" class="col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/xbox-order','110']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Action, Space-combat ( Price : <i class="fas fa-rupee-sign"></i> 1799 )</p>
                      </div> 
                    </div>
                  </div>
                  
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/xbox games/gears5.jpg" class=" col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/xbox-order','38']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Action, Third-person shooter ( Price : <i class="fas fa-rupee-sign"></i> 1699 )</p>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/xbox games/little.jpg" class="col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/xbox-order','1']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Adventure, ‎Puzzle-platformer ( Price : <i class="fas fa-rupee-sign"></i> 2199 )</p>
                      </div>
                    </div>  

                  </div>
                
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/xbox games/ori.jpg" class="col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/xbox-order','2']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Adventure ( Price : <i class="fas fa-rupee-sign"></i> 1999 )</p>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/xbox games/out.jpg" class="col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/xbox-order','109']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Rpg , Action ( Price : <i class="fas fa-rupee-sign"></i> 2399 )</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2"  data-bs-slide="prev">
                <span style="background-color: cornflowerblue;" class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2"  data-bs-slide="next">
                <span style="background-color: cornflowerblue;" class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div> 

          </div>

          <div class="tab-pane fade" id="nav-pc" role="tabpanel" aria-labelledby="nav-pc-tab">

            <div id="carouselExampleControls3" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/pc games/acVal.jpg" class="col-12 img-card mb-3" alt="...">
                        <button  [routerLink]="['/pc-order','73']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Action, Role-playing ( Price : <i class="fas fa-rupee-sign"></i> 1899 )</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/pc games/cold.jpg" class="col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/pc-order','58']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Action, First-person shooter ( Price : <i class="fas fa-rupee-sign"></i> 2199 )</p>
                      </div>
                    </div>
                  </div>
                  

                </div>
                <div class="carousel-item">

                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/pc games/shadow1.jpg" class="col-12 img-card mb-3" alt="...">
                        <button  [routerLink]="['/pc-order','80']"  class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Action, Adventure, Role-playing ( Price : <i class="fas fa-rupee-sign"></i> 1699 )</p>
                      </div>
                    </div>

                  </div>
                 
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/pc games/watch.jpg" class=" col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/pc-order','15']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Action, Adventure, Rpg ( Price : <i class="fas fa-rupee-sign"></i> 1599)</p>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/pc games/waste.jpg" class=" col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/pc-order','76']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Role-playing ( Price : <i class="fas fa-rupee-sign"></i> 1399 )</p>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3"  data-bs-slide="prev">
                <span style="background-color: cornflowerblue;" class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3"  data-bs-slide="next">
                <span style="background-color: cornflowerblue;" class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div> 

          </div>
          <div class="tab-pane fade" id="nav-nit" role="tabpanel" aria-labelledby="nav-nit-tab">
            
            <div id="carouselExampleControls4" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="gamesStyle  col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/nit games/crash.webp" class="col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/nitendo-order','109']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button> 
                        <p class="price d-none d-md-block">Shooter, Action ( Price : <i class="fas fa-rupee-sign"></i> 1879 )</p>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="carousel-item">

                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/nit games/imF.jpg" class="col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/nitendo-order','111']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Adventure ( Price : <i class="fas fa-rupee-sign"></i> 2279 )</p>
                      </div>
                    </div>
                  </div>
                  
                </div>

                <div class="carousel-item">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/nit games/mdg.jpg" class="col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/nitendo-order','112']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Action, Adventure ( Price : <i class="fas fa-rupee-sign"></i> 1999 )</p>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/nit games/pss3.jpg" class="col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/nitendo-order','91']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Fps, Action ( Price : <i class="fas fa-rupee-sign"></i> 1899 )</p>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="gamesStyle col-12 col-lg-7 col-sm-10 col-md-8">
                      <div class="row">
                        <img src="../../assets/infoImg/nit games/empire.jpg" class="col-12 img-card mb-3" alt="...">
                        <button [routerLink]="['/nitendo-order','110']" class="btn col-3 col-lg-4 col-sm-3 col-md-4 position-absolute top-50 start-50 translate-middle btn-order">Explore</button>
                        <p class="price d-none d-md-block">Rpg , Action ( Price : <i class="fas fa-rupee-sign"></i> 1699 )</p>
                      </div>
                    </div>

                  </div>
                  
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls4"  data-bs-slide="prev">
                <span style="background-color: cornflowerblue;" class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls4"  data-bs-slide="next">
                <span style="background-color: cornflowerblue;" class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div> 
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
</div>


<section *ngIf="val==2" class="latest-articles-area section-padding-100-0 mb-100 bg-img bg-pattern bg-fixed fadeIn" style="background-image: url(../../assets/infoImg/x6.jpg);">
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-12 col-lg-8">
  <div class="mb-100">
  
  <h2 class="section-title mb-70 wow fadeInUp" data-wow-delay="100ms">Latest Articles</h2>
  
  <div class="single-articles-area style-2 d-flex flex-wrap mb-30 wow fadeInUp" data-wow-delay="300ms">
  <div class="article-thumbnail">
  <img src="../../assets/infoImg/img/bg-img/6.jpg" alt="">
  </div>
  <div class="article-content">
  <a href="single-post.html" routerLink="../news" class="post-title">Sony’s new releases for 2021</a>
  <div class="post-meta">
  <a href="#" class="post-date">february 12, 2021</a>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit arcu, scelerisque dignissim massa quis, mattis facilisis erat. Aliquam erat volutpat. Sed efficitur diam.</p>
  </div>
  </div>
  
  <div class="single-articles-area style-2 d-flex flex-wrap mb-30 wow fadeInUp" data-wow-delay="500ms">
  <div class="article-thumbnail">
  <img src="../../assets/infoImg/img/bg-img/7.jpg" alt="">
  </div>
  <div class="article-content">
  <a href="single-post.html" routerLink="../news" class="post-title">10 Tips to be a better gamer</a>
  <div class="post-meta">
  <a href="#" class="post-date">january 22, 2021</a>
  
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit arcu, scelerisque dignissim massa quis, mattis facilisis erat. Aliquam erat volutpat. Sed efficitur diam.</p>
  </div>
  </div>
  
  <div class="single-articles-area style-2 d-flex flex-wrap mb-30 wow fadeInUp" data-wow-delay="700ms">
  <div class="article-thumbnail">
  <img src="../../assets/infoImg/img/bg-img/8.jpg" alt="">
  </div>
  <div class="article-content">
  <a href="single-post.html" routerLink="../news" class="post-title">Microsoft has some new tips</a>
  <div class="post-meta">
  <a href="#" class="post-date">december 25, 2020</a>
  
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit arcu, scelerisque dignissim massa quis, mattis facilisis erat. Aliquam erat volutpat. Sed efficitur diam.</p>
  </div>
  </div>
  </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
  
  <h2 class="section-title mb-70 wow fadeInUp" data-wow-delay="100ms">This week’s deal</h2>
  
  <div class="single-widget-area add-widget wow fadeInUp" data-wow-delay="300ms">
  <a href="#" routerLink="../play-station" ><img src="../../assets/infoImg/img/bg-img/add.png" alt=""></a>
  
  <img src="../../assets/infoImg/img/bg-img/side-img.png" class="side-img" alt="">
  </div>
  </div>
  </div>
  </div>
  </section>
  